# {{ ansible_managed }}
{{ rails_env }}:
  adapter: postgresql
  host: {{ postgresql_host }}
  port: {{ postgresql_port }}
  encoding: unicode
  pool: 5
  database: {{ postgresql_database }}
  username: {{ user }}
  password: {{ postgresql_password }}

websitedb:
  adapter:  mysql
  database: {{ website_db_name}}
  encoding: utf8
  username: {{ website_db_user}}
  password: {{ website_db_password}} 
  port: 3306
  host: localhost
  timeout: 10